PORT=3000
# Supabase -> Connect -> Session pooler
DB_HOST=aws-0-ca-central-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.yxpgfmdrlaekcpiqvglj
DB_PASSWORD=
DB_NAME=postgres
DB_SSL=true
JWT_SECRET=cambia-esto-por-una-cadena-larga-y-secreta
JWT_EXPIRA=7d
CORS_ORIGEN=*
